{% set page_key = page_key|default('workspace') %}
{% set heading = heading|default('') %}

<section class="app-command-header app-command-header--{{ page_key }}">
    <div class="app-command-header__content">
        <div class="app-command-header__copy">
            <h1 class="app-command-header__heading">{{ heading }}</h1>
        </div>
        {% if action_buttons %}
        <div class="app-command-header__actions">
            {{ action_buttons|safe }}
        </div>
        {% endif %}
    </div>
</section>
