{% extends "base.html" %}

{% block title %}Dashboard - AYNIWHEEL{% endblock %}
{% block body_class %}page-dashboard{% endblock %}

{% block content %}
{% include "partials/dashboard/run_strip.html" %}
{% include "partials/dashboard/account_summary.html" %}
{% include "partials/dashboard/growth_panel.html" %}
{% include "partials/dashboard/watchlist_panel.html" %}
{% include "partials/dashboard/top_recommendations.html" %}

{% include "partials/dashboard/weekly_income.html" %}
{% include "partials/dashboard/position_monitor.html" %}
{% include "partials/dashboard/options_table.html" %}
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/dashboard/dashboard.js') }}"></script>
{% endblock %}
